#cover-pic {
	background-image: url("https://apod.nasa.gov/apod/image/1501/VelaSNR-3_bigCedic.jpg");
	background-position: center;
	background-size: cover;
	padding-top: 20% !important;
	padding-bottom: 20% !important;
}

#img-container {
	position: relative;
}

#like-icon {
	color: #dc3545;
	font-size: 5rem;
}